@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 10;
  src:
    url("https://jj2s.storage.c2.liara.space/dana-fanum-thin.woff2")
      format("woff2"),
    url("https://jj2s.storage.c2.liara.space/dana-fanum-thin.woff")
      format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 200;
  src:
    url("https://jj2s.storage.c2.liara.space/dana-fanum-extralight.woff2")
      format("woff2"),
    url("https://jj2s.storage.c2.liara.space/dana-fanum-extralight.woff")
      format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 300;
  src:
    url("https://jj2s.storage.c2.liara.space/dana-fanum-light.woff2")
      format("woff2"),
    url("https://jj2s.storage.c2.liara.space/dana-fanum-light.woff")
      format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 500;
  src:
    url("https://jj2s.storage.c2.liara.space/dana-fanum-medium.woff2")
      format("woff2"),
    url("https://jj2s.storage.c2.liara.space/dana-fanum-medium.woff")
      format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 600;
  src:
    url("https://jj2s.storage.c2.liara.space/dana-fanum-demibold.woff2")
      format("woff2"),
    url("https://jj2s.storage.c2.liara.space/dana-fanum-demibold.woff")
      format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 750;
  src:
    url("https://jj2s.storage.c2.liara.space/dana-fanum-ultrabold.woff2")
      format("woff2"),
    url("https://jj2s.storage.c2.liara.space/dana-fanum-ultrabold.woff")
      format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 800;
  src:
    url("https://jj2s.storage.c2.liara.space/dana-fanum-extrabold.woff2")
      format("woff2"),
    url("https://jj2s.storage.c2.liara.space/dana-fanum-extrabold.woff")
      format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 900;
  src:
    url("https://jj2s.storage.c2.liara.space/dana-fanum-black.woff2")
      format("woff2"),
    url("https://jj2s.storage.c2.liara.space/dana-fanum-black.woff")
      format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: bold;
  src:
    url("https://jj2s.storage.c2.liara.space/dana-fanum-bold.woff2")
      format("woff2"),
    url("https://jj2s.storage.c2.liara.space/dana-fanum-bold.woff")
      format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: normal;
  src:
    url("https://jj2s.storage.c2.liara.space/dana-fanum-regular.woff2")
      format("woff2"),
    url("https://jj2s.storage.c2.liara.space/dana-fanum-regular.woff")
      format("woff");
}

* {
  font-family: dana;
  color: #fff;
}
body,
html,
#root {
  background-color: #171a21;
}
